#menu-checkbox {
   display: none;
}
.main-menu {
  display: none;
  padding: 0;
  margin: 0;
}
.main-menu li {

 text-align: center;
  font-size: 1em;
  display: block;
  width: 100%;
}
.main-menu a {
  background-color: #EEE9E9;
  display: block;
  border-bottom: 1px solid black;
  color: black;
  padding: .5em;
  text-decoration: none;
}
.main-menu a:hover {
  text-decoration: underline;
}
.toggle-button {
  text-align: center;
  display: block;
  cursor: pointer;
  background-color: #1C86EE;
  color: #fff;
}
.toggle-button:after {
  content: attr(data-open);
  display: block;
  margin: 10px 0;
  padding: 10px 30px;
}
#menu-checkbox:checked + nav[role="navigation"] .main-menu {
  display: block;
}
#menu-checkbox:checked + nav[role="navigation"] .toggle-button:after {
  content: attr(data-close);
}

@media screen and (min-width: 640px) {
    .toggle-button {
      display: none;
    }
    .main-menu {
      display: block;
      margin: 0 auto;
      background-color: #1C86EE;
      height: 30px;
    }
    .main-menu li {
      width: calc(100% / 5);
      text-align: center;
      display: inline-block;
      margin-right: -4px;
    }
    .main-menu a {
      display: inline-block;
      margin-right: -4px;
      font-size: .8em;
      background-color: #1C86EE;
      text-decoration: none;
      color: #fff;
      text-transform: capitalize;
      border-bottom: 0;
    }
  }